body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-family: "Lobster", cursive;
    text-shadow: 2px 2px brown; 
}

h2, h3 {
    font-family: "Lobster", cursive;
    color: brown;
}

h2 {
    color: palevioletred;
    text-shadow: 1px 1px brown; 
}

header h2 {
    color: palevioletred;
    text-shadow: 1px 1px brown; 
}

footer {
    background: url("https://cdn3.bigcommerce.com/s-9qugz4w/products/17701/images/21284/TOT47143__88708.1439926282.1280.1280.jpg?c=2");
    padding: 10px 0px;
    color: brown;
}

a {
    color: linen;
    text-shadow: 1px 1px brown; 
}

a:hover {
    color: brown;
    text-decoration: none;
}

.jumbotron {
    padding: 30px;
    background: url("https://cdn3.bigcommerce.com/s-9qugz4w/products/17701/images/21284/TOT47143__88708.1439926282.1280.1280.jpg?c=2");
    color: linen;
    margin: 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;

}

.navbar {
    background-color: palevioletred;
}

.breadcrumb {
    background-color: pink;
    opacity: 0.7;
}

.btn {
    color: linen;
    text-shadow: 1px 1px brown;
}

.btn:hover {
    color: brown;
    text-decoration: none;
}

.contact {
    background-color:pink;
    border-radius: 0.5em;
    padding: 2px;
    opacity: 0.8;
}