body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-family: "Lobster", cursive;
    text-shadow: 2px 2px palevioletred; 
}

h2, h3 {
    font-family: "Lobster", cursive;
    color: salmon;
}

h2 {
    color: palevioletred;
    text-shadow: 1px 1px salmon; 
}

header h2 {
    color: linen;
    text-shadow: 1px 1px steelblue; 
}

.site-footer {
    background: url("https://wallpapercave.com/wp/RXkDYt8.jpg");
    padding: 10px 0px;
    color: linen;
    text-shadow: 1px 1px indigo;
}

a {
    color: linen;
}

a:hover {
    color: steelblue;
    text-decoration: none;
}

.jumbotron {
    padding: 30px;
    background: url("https://wallpapercave.com/wp/RXkDYt8.jpg");
    color: linen;
    margin: 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;

}

.navbar {
    background-color: palevioletred;
}

.breadcrumb {
    background-color: salmon;
    opacity: 0.7;
}

.btn {
    color: linen;
    text-shadow: 1px 1px indigo;
}

.btn:hover {
    color: salmon;
    text-decoration: none;
}

#email {
    color: salmon;
}

#email:hover {
    color: steelblue;
}

#tel {
    color: salmon;
}

#tel:hover {
    color: steelblue;
}

.nav-item {
    background-color: palevioletred;
}

.tab-content {
    border: 1px solid linen;
    border-top: none;
    padding: 10px;
}